<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fbwotjq.example.mapper.FreeBoardMapper" >
   
    <insert id="insertFreeBoard" parameterType="com.fbwotjq.example.board.free.FreeBoard" >
        INSERT INTO free_board 
        (
        	fb_name,
        	fb_content,
        	fb_date,
        	user_number
        )
        VALUES 
        ( 
        	#{boardTitle, jdbcType=VARCHAR}, 
        	#{boardContent, jdbcType=VARCHAR},
        	#{boardDate, jdbcType=VARCHAR},
        	#{userNumber, jdbcType=INTEGER}
        )
    </insert>
   
</mapper>